# /opt/gitea/.env – NICHT ins Git-Repository, Rechte 600
GITEA_URL=http://SERVER-IP:3000
WIKI_URL=http://SERVER-IP:8080
# Zufallswerte, werden von install.sh erzeugt
GITEA__security__SECRET_KEY=
GITEA__security__INTERNAL_TOKEN=
GITEA__oauth2__JWT_SECRET=
